<!DOCTYPE>

<html>

	<head>
		<title>cytoscape-arbor.js demo</title>

		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
<script src="/mstr/js/ext/arbor/arbor.js" type="text/javascript"></script>
<script src="/mstr/js/ext/cytoscape/cytoscape-arbor.js" type="text/javascript"></script>

		<!-- for testing with local version of cytoscape.js -->
		<!--<script src="../cytoscape.js/build/cytoscape.js"></script>-->


		<style>
			body {
				font-family: helvetica;
				font-size: 14px;
			}

			#cy {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 999;
			}

			h1 {
				opacity: 0.5;
				font-size: 1em;
			}
		</style>

		<script>
            Url = {
                get get(){
                    var vars= {};
                    if(window.location.search.length!==0)
                        window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value){
                            key=decodeURIComponent(key);
                            if(typeof vars[key]==="undefined") {vars[key]= decodeURIComponent(value);}
                            else {vars[key]= [].concat(vars[key], decodeURIComponent(value));}
                        });
                        return vars;
                }
            };
            usr = Url.get.usr;

                //on click
            clickFunc = function(){
                cy.nodes().on("click", function(){
                      parent.angular.element('#cyto').scope().infoConcept(this.data('id'));
                });
            }
            //init de cyto
			$(function(){

				var cy = window.cy = cytoscape({
					container: document.getElementById('cy'),

					layout: {
						name: 'arbor'
					},

					style: [
						{
							selector: 'node',
							css: {
                                //'background-color': 'data(color)'
                                'width': 'data(width)',
                                'height': 'data(height)',
                                'content': 'data(name)',
                                'pie-size': '80%',
                                'pie-1-background-color': '#369120',
                                'pie-1-background-size': 'data(percentFinished)',
                                'pie-2-background-color': '#de3423',
                                'pie-2-background-size': '100-data(percentFinished)'
							}
						},

						{
							selector: 'edge',
							css: {
								'target-arrow-shape': 'triangle'
							}
						},

						{
							selector: ':selected',
							css: {
                                'background-color': 'black',
                                'line-color': 'black',
                                'target-arrow-color': 'black',
                                'source-arrow-color': 'black',
                                'opacity': 1
							}
						}
					],
                    elements: $.getJSON('http://localhost:8081/mstr/rest/tuples/getOntoCytoGraph/'+usr),//dangeureux mais pas réussit à récupérer le data depuis angular en async - à suivre
                    ready:function(event){clickFunc();}
				});
                cy.zoomingEnabled( false );

			});
		</script>
	</head>

	<body>
		<!--<h1>Nuage des concepts</h1>-->

		<div id="cy"></div>

	</body>

</html>
