<span ng-if="debug">{{publiAnnot}}</span>

<section data-ng-show="section===1">
    <button class="btn btn-primary" ng-click="goSection(2);" >Démarrer</button>
    <button class="btn btn-primary" ng-click="openContinue()" >Poursuivre</button>
    <button class="btn btn-primary" ng-click="openReprendre()" >Réutiliser</button>
</section>
<!--SECTION 1-->
<section data-ng-show="section===2">
    <ng-form name="form1">
        <h2>Édition du QCM</h2>

        <input type=text data-ng-model="qcm.name" placeholder="Nom du QCM"/>
        <span>Difficulté :<rating  max="5"  ng-model="qcm.difficulty" required></rating></span>

        <input type=number data-ng-model="qcm.timelimit" placeholder="Temps limité (sec)" />
        <button class="btn btn-primary" ng-click="goSection(3)" ng-disabled="form1.$invalid">Valider</button>
    </ng-form>
</section>
<!--FIN SECTION 1-->

<!--SECTION 2-->
<section data-ng-show="section ===3">
    <h2>Documents en jeux (facultatif)</h2>
    <button class="btn btn-primary" ng-click="start()" >Valider</button>
    
    <table  datatable="ng"  class="table table-bordered table-striped">
        <thead>
            <TR> 
                <TH> Document </TH> 
                <TH> Type </TH> 
                <TH> Titre </TH> 
                <TH> Date </TH> 
                <TH> Enseignant </TH> 
                <TH> Choisir </TH> 
            </TR> 
        </thead>
        <tbody>
            <tr ng-repeat="i in publiAnnotList.results.bindings">
                <td >{{ i.cmTitle.value }}</td>
                <td >{{ i.cmType.value }}</td>
                <td >{{ i.cmAnnotTitle.value }}</td>
                <td >{{ i.d8Last.value | date:'medium'}}</td>
                <td >{{i.fname.value+" "+i.lname.value}}</td>
                <td ><center><button class="btn btn-primary" ng-disabled="{{i.finished.value=='false'}}" ng-click="selectDocument(i);" >Choisir</button></center></td>
            </tr>
        </tbody>
    </table>
</section>
<!--FIN SECTION 2-->

<!--SECTION 3-->
<section data-ng-show="section ===4">
    <div>
        <button  class="btn btn-primary" ng-click="newQuestion()" ng-disabled="form.$invalid">Nouvelle Question</button>
        <button  class="btn btn-primary" ng-disabled="form.$invalid" ng-click="saveTemp()" >Sauver l'avancement</button>
        <button  class="btn btn-primary" ng-disabled="form.$invalid" ng-click="save()">Valider les questions</button>
    </div>
    <ng-form name="form">
        <div ><h2 id="question" >Question n°{{qcm.questions[qcm.nbQ].rank}} : {{qcm.questions[qcm.nbQ].statement}}</h2>
            <input type="text" class="form-control form-control-inline" ng-model="qcm.questions[qcm.nbQ].statement" placeholder="Intitulé" required/>
            <span>Difficulté:	<rating  max="5" ng-model="qcm.questions[qcm.nbQ].difficulty" required></rating></span>

            <span>Limite de temps:<input type="number" ng-model="qcm.questions[qcm.nbQ].timelimit" placeholder="Temps limité (sec)"></span>
        </div>
        <div data-ng-repeat="pa in publiAnnot">
            <span >{{pa.nom}}</span>
            <fieldset  data-ng-repeat="zone in pa.publiZone">
                <input id="zone.uid"  type="text" ng-model="zone.label"  ng-style="{background:zone.color}"  disabled>
                <span ng-click='removeZone(qcm.nbQ,zone.uid)' ng-show='qcm.questions[qcm.nbQ].choicezone[zone.uid]' class="glyphicon glyphicon-minus"> </span>
                <span ng-click='qcm.questions[qcm.nbQ].choicezone[zone.uid]={}'  ng-show='!qcm.questions[qcm.nbQ].choicezone[zone.uid]' class="glyphicon glyphicon-plus"> </span>
                <!--<button  ng-click="showZone('zone'+$index,'iframe'+pa.uid)"><span class="glyphicon glyphicon-eye-open">Montrer</span></button>-->
                <input type="checkbox" name="{{zone.uid}}"  ng-if='qcm.questions[qcm.nbQ].choicezone[zone.uid]' ng-model="qcm.questions[qcm.nbQ].choicezone[zone.uid].value">
                <input type="checkbox" name="{{zone.uid}}" ng-if='qcm.questions[qcm.nbQ].choicezone[zone.uid]' ng-model="qcm.questions[qcm.nbQ].choicezone[zone.uid].gameOver">
            
                <input type=text class="form-control form-control-inline" ng-model="qcm.questions[qcm.nbQ].choicezone[zone.uid].help" ng-show='qcm.questions[qcm.nbQ].choicezone[zone.uid]!=null' placeholder="Coup de pouce..."/>
                <input type=text class="form-control form-control-inline" ng-model="qcm.questions[qcm.nbQ].choicezone[zone.uid].correction" ng-show='qcm.questions[qcm.nbQ].choicezone[zone.uid]!=null' placeholder="Correction"/>
            </fieldset>
        </div>
        Réponses
        <fieldset  data-ng-repeat="(k, text) in qcm.questions[qcm.nbQ].choicetext">
            <!--a-->
            <input id="k" class="form-control form-control-inline" type="text" ng-model="text.label" name="" placeholder="Entrez une réponse"required/>
            <span ng-click="removeText(qcm.nbQ, k)" class="glyphicon glyphicon-minus"></span>
                <input type="checkbox" name="{{$index}}" ng-model='text.value'/>
                <span tooltip="Bloquant">       <input type="checkbox" name="{{$index}}" ng-model='text.gameOver'/> </span>
            <input type=text class="form-control form-control-inline" ng-model="text.help" placeholder="Coup de pouce..."/>
            <input type=text class="form-control form-control-inline" ng-model="text.correction" placeholder="Correction"/>
            <!--a-->
        </fieldset>
        <button class="btn btn-primary" ng-click="addChoiceText()">Ajouter une réponse</button>


        <div ng-if="debug" id="score">
            <!--Zones: {{zones}}-->
            <h4>  Json: {{qcm | json}}</h4>
        </div>
    </ng-form>
</section>
<!--FIN SECTION 3-->

<!--SECTION 3-4-->
<section data-ng-show="section ===3 || section=== 4">
    <hr width=100%  align=left> 
    <br><br>
    <span  data-ng-repeat="ifId in ifsrc" class="col-md-6">	
        <div class="box box-success box-header with-border ">
            <h3 class="box-title">
                <label for={{"iframe"+publiAnnot[$index].uid}}>{{publiAnnot[$index].nom}}</label>
            </h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" ng-click="hideIframe('iframe'+publiAnnot[$index].uid)"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" ng-click="showIframe('iframe'+publiAnnot[$index].uid)"><i class="fa fa-plus"></i></button>
                <button class="btn btn-box-tool" ng-click="removeIframe($index)"><i class="fa fa-times"></i></button>
            </div>
            <span ng-if="!publiAnnot[$index].loaded" style="opacity: 0; -webkit-transition: opacity 0; transition: opacity 0;">
                <div class="box-body">
                    Chargement en cours
                </div><!-- /.box-body -->
                <div  class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </span>
            <iframe iframe-onload="iframeLoadedCallBack()" id={{"iframe"+publiAnnot[$index].uid}} height={{pageHeight}} width=100% ng-show="ifsrc[$index]" ng-src="{{ifsrc[$index]}}"> </iframe>
        </div>
    </span>
<ul>
    <li ng-repeat="(k,v) in qcm.questions">
        {{k+":"+v}}{{v.rank=$index+1}}
        <button  class="btn btn-primary" ng-click="goQuestion(v.rank)"   ><span class="glyphicon glyphicon-circle-arrow-right">Modifier {{v.rank}}</span></button>
        <button  class="btn btn-primary" ng-click="removeQuestion(v.rank,$index-1+1>0?$index-1+1:$index+1)" ng-disabled="$last&&$index===0"  ><span class="glyphicon glyphicon-circle-arrow-right">Supprimer {{$last}}</span></button>
        </li>
    </ul>
</section>
<!--FIN SECTION 3-4-->

<!--NOTIONS-->
<section data-ng-show="notions && section ===5">
    
    Notions abordées: (utile pour la recherchede contenu de cours)
    <ul>
        <li ng-repeat="row in notions.traite ">{{ row }} {{ row["NOTIONLAB"].value }} {{ row["NOTIONCOMM"].value }}</li>
    </ul>
Notions neccessaires: (un étudiant doit avoir acqui ces notions pour avoir accès à cet exercice)
    <ul>
        <li  ng-repeat="row in notions.need ">{{ row }} {{ row["NOTIONLAB"].value }} {{ row["NOTIONCOMM"].value }}</li>
    </ul>
    Notions acquises: (une fois l'exercice validé, l'étudiant aura acquis ces notions)
    <ul>
        <li  ng-repeat="row in notions.give ">{{ row }} {{ row["NOTIONLAB"].value }} {{ row["NOTIONCOMM"].value }}</li>
    </ul>

        <button class="btn btn-default" type="button" ng-click="saveNotion()">Enregistrer le qcm</button>
</section>
<!--FIN NOTIONS-->

<!--TEMPLATES-->
<script type="text/ng-template" id="continue.html">
    <div class="modal-header">
        <h3 class="modal-title">{{message}}</h3>
    </div>
    <div class="modal-body">
        <h3 ng-if="items.length===0">Aucun {{message}}</h3>
        <table ng-if="items.length>0" datatable="ng"  class="table table-bordered table-striped">
            <thead>
                <TR> 
                    <TH> Nom </TH> 
                    <TH> Date de modification </TH> 
                    <TH> Réutiliser </TH> 
                </TR> 
            </thead>
            <tbody>
                <tr ng-repeat="i in items">
                    <td >{{ i.name.value }}</td>
                    <td >{{ i.d8Last.value  | date:'medium'}}</td>
                    <td ><center><a href="#" ng-click="$event.preventDefault(); selected.item = i.qcm.value;ok()">Réutiliser...</a></center></td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Annuler</button>
    </div>
</script>
